 Repetition of https://www.kaggle.com/code/teaprint/my-analysis-on-motion-sensor-data/notebook

In [1]:
import pandas as pd

In [4]:
persons= pd.read_csv("HAR_ds/data_subjects_info.csv")

In [5]:
persons

    code  weight  height  age  gender
0      1     102     188   46       1
1      2      72     180   28       1
2      3      48     161   28       0
3      4      90     176   31       1
4      5      48     164   23       0
5      6      76     180   28       1
6      7      62     175   30       0
7      8      52     161   24       0
8      9      93     190   32       1
9     10      72     164   31       0
10    11      70     178   24       1
11    12      60     167   33       1
12    13      60     178   33       1
13    14      70     180   35       1
14    15      70     185   33       1
15    16      96     172   29       0
16    17      76     180   26       1
17    18      54     164   26       0
18    19      78     164   28       0
19    20      88     180   25       1
20    21      52     165   24       1
21    22     100     186   31       1
22    23      68     170   25       0
23    24      74     173   18       0

In [1]:
import numpy as np

unnormalizedData = np.array([[15, 60], [5, 15], [45, 0], [0, 30]], dtype=np.float64)

m = np.mean(unnormalizedData, axis=0) # array([16.25, 26.25])
std = np.std(unnormalizedData, axis=0) # array([17.45530005, 22.18529919])

data = 0.5 * (np.tanh(0.01 * ((unnormalizedData - m) / std)) + 1)
#array([[0.49712291, 0.5076058 ],
#       [0.49711136, 0.49746456],
#       [0.50865938, 0.4940842 ],
#       [0.49710558, 0.50084515]])

In [3]:
unnormalizedData

array([[15., 60.],
       [ 5., 15.],
       [45.,  0.],
       [ 0., 30.]])

In [2]:
data

array([[0.49964194, 0.5076058 ],
       [0.49677753, 0.49746456],
       [0.50823458, 0.4940842 ],
       [0.49534539, 0.50084515]])

In [7]:
import numpy as np
import pandas as pd

unnormalizedData = pd.DataFrame([[15, 60], [5, 15], [45, 0], [0, 30]], dtype=np.float64,columns=["a","b"])

m = np.mean(unnormalizedData, axis=0) # array([16.25, 26.25])
std = np.std(unnormalizedData, axis=0) # array([17.45530005, 22.18529919])

data = 0.5 * (np.tanh(0.01 * ((unnormalizedData - m) / std)) + 1)

In [10]:
data

          a         b
0  0.499642  0.507606
1  0.496778  0.497465
2  0.508235  0.494084
3  0.495345  0.500845

In [9]:
m

a    16.25
b    26.25
dtype: float64

In [8]:
unnormalizedData

      a     b
0  15.0  60.0
1   5.0  15.0
2  45.0   0.0
3   0.0  30.0

In [18]:
import math
import pandas as pd
df = pd.read_csv(r"D:\_1_Technicals\DataScience_Bootcamp\Final_project\Flutter_ArduinoConnect\00_DataSets\1_3\f_sit_front_EatFood_2sec_right.csv", index_col=False)
    # drop small datatsets
if df.shape[0] < 50:
        print(df.shape)
        missing_rows = 50 - df.shape[0]
        #half_miss_rows = math.ceil(missing_rows/2)

        for i in range(missing_rows):
            #df = pd.concat([df.iloc[0], df.iloc[:], df.iloc[-1]],ignore_index=True)
            df = df.append(df.iloc[0]) 

            
df.shape

(38, 13)

C:\Users\Jacqueline\AppData\Local\Temp\ipykernel_6132\2899800970.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[0])
C:\Users\Jacqueline\AppData\Local\Temp\ipykernel_6132\2899800970.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[0])
C:\Users\Jacqueline\AppData\Local\Temp\ipykernel_6132\2899800970.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[0])
C:\Users\Jacqueline\AppData\Local\Temp\ipykernel_6132\2899800970.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[0])
C:\Users\Jacqueline\AppData\Local\Temp\ipykernel_6132\2899800970.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[0])
C:\Users\Jacqueline\AppData\Local\Temp\ipykernel_6132\2899800970.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[0])
C:\Users\Jacqueline\AppData\Local\Temp\ipykernel_6132\2899800970.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[0])
C:\Users\Jacqueline\AppData\Local\Temp\ipykernel_6132\2899800970.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[0])
C:\Users\Jacqueline\AppData\Local\Temp\ipykernel_6132\2899800970.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[0])
C:\Users\Jacqueline\AppData\Local\Temp\ipykernel_6132\2899800970.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[0])
C:\Users\Jacqueline\AppData\Local\Temp\ipykernel_6132\2899800970.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[0])
C:\Users\Jacqueline\AppData\Local\Temp\ipykernel_6132\2899800970.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df.iloc[0])

(50, 13)